.openai-box {
  width: 107rem;
  max-width: 90%;
  @media screen and (max-width: 768px) {
    max-width: 90%;
  }
  min-height: 54rem;
  background: url("../../assets/images/bgbg.svg") no-repeat fixed center;
  background-size: 80% 80%;
  border-radius: 1rem;
  background-color: #2a1f88;
  margin: 0 auto;
  margin-top: 10.5rem;
  margin-bottom: 17rem;
  color: #fff;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin-bottom: 4rem;
  }

  position: relative;
  .openai-box-cover {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 84rem;
    width: 100%;
    background-color: rgba(41, 31, 136, 0.614);
  }
  .oa-tofix {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    // width: 50rem;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .oa-container {
    position: relative;
    padding: 8rem;
    z-index: 21;
    // background-color: rgba(42, 31, 136, 0.6);
    min-height: 100%;
    display: flex;
    // display: none;
    gap: 12rem;
    @media screen and (max-width: 768px) {
      padding: 4rem;
      flex-direction: column;
      gap: 0rem;
    }
    .left {
      width: 34.6rem;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
      }
      .left-title {
        font-style: normal;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 4.8rem;

        color: #ffb400;
        margin-bottom: 2rem;
      }
    }
    .right {
      width: 44.4rem;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
      }
      p {
        margin-bottom: 3rem;
      }
      .hrline {
        border: 0.1rem solid #647084;
        margin-bottom: 2.5rem;
      }
      .p-text {
        color: #d2ecff;
      }
      .oa-list {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        &-item {
          display: flex;
          gap: 1.3rem;
          span{
            font-weight: 300;
          }
        }
      }
    }
  }
}
